.miniPlayer {
  width: 320px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 5px;
  transition: right 0.4s ease;
}

.miniPlayer .player {
  width: 300px;
  animation: miniplayerAnim 0.1s ease forwards;
}

.open {
  display: none;
}

.close {
  display: block;
  position: absolute;
  right: -8px;
  top: -10px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 20px;
  padding: 5px 0 0 3px;
}

.close:hover {
  color: #666666;
  cursor: pointer;
  outline: 0;
}

@keyframes miniplayerAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.miniPlayer p {
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
  color: var(--fontPrimary);
}

.floatingBtn {
  width: 60px;
  height: 60px;
  /* bottom: 80px; */
  /* right: 10px; */
  position: absolute;
  left: 88%;
  top: 120%;
  overflow: hidden;
  border-radius: 50px;
  background-color: var(--fontPrimary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.floatingBtn:hover {
  background-color: var(--successGreen);
}

.floatingBtn:hover span {
  color: var(--fontPrimary);
}

.floatingBtn p {
  display: none;
}

.floatingBtn .player {
  transform: scale(0);
  display: none;
}

.floatingBtn span {
  color: var(--successGreen);
  font-weight: 500;
}

.floatingBtn .open {
  display: block;
}

.floatingBtn .close {
  display: none;
}

/* for small mobile */

@media only screen and (min-width: 380px) and (max-width: 550px) {
  .miniPlayer {
    transition: transform 0.3s ease;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .floatingBtn {
    top: 62rem;
    left: 64%;
  }
}

/* large mobile */

@media only screen and (min-width: 551px) and (max-width: 750px) {
  .miniPlayer {
    transition: transform 0.3s ease;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .floatingBtn {
    top: 60rem;
    left: 72%;
    /* background-color: red; */
  }
}

/* tab */

@media only screen and (min-width: 751px) and (max-width: 1050px) {
  .miniPlayer {
    transition: transform 0.3s ease;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .floatingBtn {
    top: 60rem;
    left: 72%;
    /* background-color: rgb(0, 255, 51); */
  }
}

/* laptop */
@media only screen and (min-width: 1023px) and (max-width: 1350px) {
  .miniPlayer {
    transition: transform 0.3s ease;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .floatingBtn {
    top: 39rem;
    left: 72%;
    /* background-color: rgb(226, 31, 230); */
  }
}
/* large desktop*/

@media only screen and (min-width: 1351px) {
  .miniPlayer {
    transition: transform 0.3s ease;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .floatingBtn {
    top: 39rem;
    left: 72%;
    /* background-color: rgb(226, 31, 230); */
  }
}
